In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('raw_data/election_data_1.csv')

In [4]:
df.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [12]:
len(df.index) - 1

802999

In [14]:
candidates = df['Candidate'].unique()

In [26]:
df['Candidate'].value_counts()

Vestal    385440
Torres    353320
Seth       40150
Cordin     24090
Name: Candidate, dtype: int64

In [34]:
df['Candidate'].value_counts().keys()

Index(['Vestal', 'Torres', 'Seth', 'Cordin'], dtype='object')

AttributeError: 'str' object has no attribute 'sum'