In [1]:
import os
import pandas as pd

In [2]:
df1_path = os.path.join('raw_data', 'election_data_1.csv')

In [3]:
voter_df1 = pd.read_csv(df1_path)

In [4]:
candidates = voter_df1['Candidate'].unique()
total_votes = len(voter_df1.index) - 1
winning_number = voter_df1.Candidate.value_counts().max()
winning_candidate = voter_df1

In [5]:
cand_groups = voter_df1.groupby(['Candidate'])
vote_counts = cand_groups['Voter ID'].count()
vote_counts = vote_counts.to_frame()
vote_counts = vote_counts.rename(columns={'Voter ID': 'Total Votes'})
vote_counts.head()

           Total Votes
Candidate
Cordin           24090
Seth             40150
Torres          353320
Vestal          385440

In [6]:
winning_number = voter_df1.Candidate.value_counts().max()

In [7]:
voter_df1['Candidate'].unique()

array(['Vestal', 'Torres', 'Seth', 'Cordin'], dtype=object)

In [8]:
voter_df1['Candidate'].value_counts().max()

385440

In [9]:
voter_df1['Candidate'].unique()

array(['Vestal', 'Torres', 'Seth', 'Cordin'], dtype=object)

In [10]:
voter_df1.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [11]:
candidates = voter_df1['Candidate'].value_counts().keys().tolist()
vote_counts = voter_df1['Candidate'].value_counts().tolist()

In [12]:
results = zip(candidates, vote_counts)

In [13]:
results_list = list(results)

In [21]:
for i in range(len(results_list) - 1):
    if results_list[i][1] == winning_number:
        winner = results_list[i][0]

winner

'Vestal'