In [74]:
import os
import pandas as pd

In [75]:
df1_path = os.path.join('raw_data', 'election_data_1.csv')
df2_path = os.path.join('raw_data', 'election_data_2.csv')

In [76]:
voter_df1 = pd.read_csv(df1_path)
voter_df2 = pd.read_csv(df2_path)

In [77]:
total_votes = len(voter_df1.index) - 1

In [78]:
cand_groups = voter_df1.groupby(['Candidate'])
vote_counts = cand_groups['Voter ID'].count()
vote_counts = vote_counts.to_frame()
vote_counts = vote_counts.rename(columns={'Voter ID': 'Total Votes'})
vote_counts.head()

           Total Votes
Candidate
Cordin           24090
Seth             40150
Torres          353320
Vestal          385440

In [44]:
votes_per_cand = cand_groups[['Voter ID']]
votes_per_cand.count().head()

ValueError: DataFrame constructor not properly called!

Index(['Vestal', 'Torres', 'Seth', 'Cordin'], dtype='object')

AttributeError: 'str' object has no attribute 'sum'