In [10]:
import os
import pandas as pd

In [11]:
# Load test data
bank_csv_path = os.path.join('raw_data', 'budget_data_1.csv')
bank_df = pd.read_csv(bank_csv_path)

In [12]:
bank_df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [13]:
total_months = len(bank_df['Date'].unique())
total_months

41

In [14]:
total_revenue = bank_df['Revenue'].sum()
total_revenue

18971412

In [15]:
revenue_deltas = []

for i in range(len(bank_df['Revenue']) - 1):
    revenue_deltas.append(bank_df.loc[i + 1, 'Revenue'] - bank_df.loc[i, 'Revenue'])

avg_delta = sum(abs(delta) for delta in revenue_deltas) / len(revenue_deltas)

In [16]:
greatest_increase = 0
prev_increase = 0
date_increase = ''

for i in range(len(bank_df['Revenue']) - 1):
    curr_cell = bank_df.loc[i, 'Revenue']
    next_cell = bank_df.loc[i + 1, 'Revenue']
    
    if next_cell > curr_cell:
        increase = next_cell - curr_cell
        if increase > prev_increase:
            greatest_increase = increase
            date_increase = bank_df.loc[i, 'Date']
        else:
            increase = prev_increase

date_increase

'Jan-16'

In [17]:
greatest_decrease = 0
prev_decrease = 0
date_decrease = ''

for i in range(len(bank_df['Revenue']) - 1):
    curr_cell = bank_df.loc[i, 'Revenue']
    next_cell = bank_df.loc[i + 1, 'Revenue']
    
    if next_cell < curr_cell:
        decrease = curr_cell - next_cell
        if decrease > prev_decrease:
            greatest_decrease = decrease
            date_decrease = bank_df.loc[i, 'Date']
        else:
            prev_decrease = decrease
    else:
        continue

date_decrease

'Dec-15'

In [18]:
print('Financial Analysis')
print('----------------------------')
print('Total Months: {}'.format(total_months))
print('Total Revenue: ${}'. format(total_revenue))
print('Average Revenue Change: ${}'.format(avg_delta))
print('Greatest Increase in Revenue: {} ${}'.format(date_increase, greatest_increase))
print('Greatest Decrease in Revenue: {} $-{}'.format(date_decrease, greatest_decrease))

Financial Analysis
----------------------------
Total Months: 41
Total Revenue: $18971412
Average Revenue Change: $655158.225
Greatest Increase in Revenue: Jan-16 $1837235
Greatest Decrease in Revenue: Dec-15 $-1756602