In [12]:
import os
import pandas as pd

In [13]:
emp_path1 = os.path.join('raw_data', 'employee_data1.csv')
emp_path2 = os.path.join('raw_data', 'employee_data2.csv')

In [14]:
df1 = pd.read_csv(emp_path1)
df2 = pd.read_csv(emp_path2)

In [15]:
df1.head()

   Emp ID           Name         DOB          SSN         State
0     214  Sarah Simpson  1985-12-04  282-01-8166       Florida
1      15  Samantha Lara  1993-09-08  848-80-7526      Colorado
2     411  Stacy Charles  1957-12-20  658-75-8526  Pennsylvania
3     166   Michelle Roy  1978-07-29  794-25-3944      Michigan
4      39  Joseph Rogers  1985-03-28  525-40-3515     Minnesota

In [16]:
emp_df1 = df1[['Emp ID', 'Name', 'First Name', 'Last Name', 'SSN', 'State']]

KeyError: "['First Name' 'Last Name'] not in index"